@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scrollbar::-webkit-scrollbar {
  display: none; /* Untuk Chrome/Safari */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #232323;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #404040;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #4a4a4a;
}

.custom-scrollbar {
  -webkit-overflow-scrolling: touch; /* Untuk scrolling smooth di iOS */
  scrollbar-width: none; /* Untuk Firefox */
}
